@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic-ext');

body, html {
  font-family: 'Roboto', sans-serif;
}

input, textarea, select, button, meter, progress {
  font: inherit;
}

.storybook-component-documentation__table {
  width: 100%;
  border-spacing: 1px;
  border-collapse: collapse;
  th {
    padding: 10px;
  }
  td {
    padding: 2px 5px;
  }
  td:not(:first-of-type) {
    text-align: center;
  }
}