@import "../../utils/variables";

/* Button
-------------------------- */
$--button-font-size: 14px !default;
$--button-font-weight: 500 !default;
$--button-border-radius: $--border-radius-base !default;
$--button-padding-vertical: 12px !default;
$--button-padding-horizontal: 20px !default;

$--button-large-font-size: 14px !default;
$--button-large-border-radius: 6px !default;
$--button-large-padding-vertical: 16px !default;
$--button-large-padding-horizontal: 20px !default;

$--button-medium-font-size: 14px !default;
$--button-medium-border-radius: $--border-radius-base !default;
$--button-medium-padding-vertical: 12px !default;
$--button-medium-padding-horizontal: 20px !default;

$--button-small-font-size: 14px !default;
$--button-small-border-radius: #{$--border-radius-base - 1} !default;
$--button-small-padding-vertical: 12px !default;
$--button-small-padding-horizontal: 20px !default;

$--button-mini-font-size: 14px !default;
$--button-mini-border-radius: #{$--border-radius-base - 1} !default;
$--button-mini-padding-vertical: 12px !default;
$--button-mini-padding-horizontal: 20px !default;

$--button-default-border: $--color-white-smoke !default;
$--button-default-color: $--color-taupe-gray !default;
$--button-default-fill: rgba($--color-white, .76) !default;

$--button-disabled-border: $--disabled-border-base !default;
$--button-disabled-color: $--disabled-color-base !default;
$--button-disabled-fill: $--disabled-fill-base !default;

$--button-primary-border: $--color-primary !default;
$--button-primary-color: $--color-white !default;
$--button-primary-fill: $--color-primary !default;

$--button-secondary-border: $--color-primary !default;
$--button-secondary-color: $--color-primary !default;
$--button-secondary-fill: $--color-white-smoke !default;

$--button-success-border: $--color-success !default;
$--button-success-color: $--color-white !default;
$--button-success-fill: $--color-success !default;

$--button-warning-border: $--color-warning !default;
$--button-warning-color: $--color-white !default;
$--button-warning-fill: $--color-warning !default;

$--button-danger-border: $--color-danger !default;
$--button-danger-color: $--color-white !default;
$--button-danger-fill: $--color-danger !default;

$--button-info-border: $--color-white-smoke !default;
$--button-info-color: $--color-blueberry !default;
$--button-info-fill: $--color-white-smoke !default;

$--button-hover-tint-percent: 20% !default;
$--button-active-shade-percent: 10% !default;
