@import "../../utils/mixins";
@import "../../utils/functions";
@import "../../utils/variables";
@import "../../utils/helper-classes";
@import "button-mixins";
@import "variables";

@include b('button') {
  $root: &;

  display: inline-block;
  line-height: 1;
  height: 40px;
  white-space: nowrap;
  cursor: pointer;
  background: $--button-default-fill;
  border: $--border-base;
  border-color: $--color-mantis;
  color: $--color-mantis;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: $--button-font-weight;
  @include utils-user-select(none);
  & + & {
    margin-left: 10px;
  }

  @include button-size(0, $--button-padding-horizontal, $--button-font-size, $--button-border-radius, $root);

  &:hover,
  &:focus {
    color: $--color-white;
    border-color: $--color-primary;
    background-color: $--color-white;
  }

  &:active {
    color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  & [class*="#{ b('icon', true, false) }"] {
    width: 16px;
    height: 16px;
    line-height: 16px;
    & + span {
      margin-left: 5px;
      vertical-align: top;
    }
  }

  @include m('plain') {
    background-color: $--color-white-smoke;

    &:hover,
    &:focus {
      background-color: $--color-mantis;
      border-color: $--color-mantis;
      color: $--color-white;
    }

    &:active {
      background: $--color-white;
      border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
      color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
      outline: none;
    }
  }

  @include m('default') {
    @include button-variant($--button-default-color, $--button-default-fill, $--button-default-border, $root);
    min-width: 192px;

    &#{ m('plain', $root) } {
      color: $--color-taupe-gray;
      border-color: $--color-white-smoke;
    }
    &#{ m('disabled', $root) },
    &#{ m('disabled', $root) }:hover {
      color: mix($--color-taupe-gray, $--color-white);
      border-color: mix($--color-white-smoke, $--color-white);

      &#{ m('plain', $root) } {
        color: mix($--color-taupe-gray, $--color-white);
        background-color: $--button-default-fill;
        border-color: mix($--color-white-smoke, $--color-white);
      }

      #{ b('icon') } {
        color: mix($--color-taupe-gray, $--color-white);
      }
    }
    &:hover,
    &#{ m('plain') }:hover {
      color: $--color-taupe-gray;
      background-color: $--color-white;
      border-color: $--color-white-smoke;
    }

    #{ b('icon') } {
      color: $--color-taupe-gray;
    }
  }

  @include m('primary') {
    min-width: 226px;
    height: 48px;
    @include button-variant($--button-primary-color, $--button-primary-fill, $--button-primary-border, $root);

    &:hover,
    &#{ m('plain', $root) }:hover {
      color: $--color-mantis;
      background-color: $--color-white;

      #{ b('icon') } {
        color: $--color-mantis;
      }
    }

    #{ b('icon') } {
      color: $--color-white;
    }
  }

  @include m('secondary') {
    min-width: 192px;

    &:focus {
      color: $--color-white;
      background-color: mix($--color-mantis, $--color-white, 80%);

      #{ b('icon') } {
        color: $--color-white;
      }
    }
    &:hover {
      color: $--color-white;
      background-color: $--color-mantis;

      #{ b('icon') } {
        color: $--color-white;
      }
    }
    &#{ m('plain', $root) } {
      &#{ m('disabled', $root) } {
        background-color: mix($--color-white-smoke, $--color-white, 20%);
      }
    }
    &#{ m('disabled', $root) } {
      #{ b('icon') } {
        color: mix($--color-mantis, $--color-white, 50%);
      }
    }
    &#{ m('approve', $root) } {
      #{ b('icon') } {
        color: $--color-mantis;
      }

      &:not(#{ m('disabled', $root) }):hover,
      &:not(#{ m('disabled', $root) }):focus {
        #{ b('icon') } {
          color: $--color-white;
        }
      }
      &#{ m('disabled', $root) } {
        &,
        &:hover,
        &:focus {
          #{ b('icon') } {
            &-check {
              color: mix($--color-mantis, $--color-white);
            }
          }
        }
      }
    }
    &#{ m('cancel', $root) } {
      color: $--color-taupe-gray;
      border-color: $--color-pastel-gray;

      &:not(#{ m('disabled', $root) }):focus {
        color: $--color-white;
        background-color: mix($--color-pastel-gray, $--color-white, 80%);

        #{ b('icon') } {
          &-cross {
            color: $--color-white;
          }
        }
      }
      &:not(#{ m('disabled', $root) }):hover {
        color: $--color-white;
        background-color: $--color-pastel-gray;
        border-color: $--color-pastel-gray;

        #{ b('icon') } {
          color: $--color-white;
        }
      }
      &#{ m('plain', $root) } {
        background-color: mix($--color-pastel-gray, $--color-white, 10%);
      }
      &#{ m('disabled', $root) } {
        &,
        &:hover,
        &:focus {
          color: mix($--color-taupe-gray, $--color-white);
          border-color: mix($--color-pastel-gray, $--color-white);

          #{ b('icon') } {
            color: mix($--color-taupe-gray, $--color-white);
          }
        }

        &#{ m('plain', $root) } {
          background-color: mix($--color-pastel-gray, $--color-white, 10%);
        }
      }

      #{ b('icon') } {
        color: $--color-taupe-gray;
      }
    }
    &#{ m('remove', $root) } {
      color: $--color-sunset-orange;
      border-color: $--color-sunset-orange;

      &:not(#{ m('disabled', $root) }):focus {
        color: $--color-white;
        background-color: mix( $--color-sunset-orange, $--color-white, 80%);
      }
      &:not(#{ m('disabled', $root) }):hover {
        color: $--color-white;
        background-color: $--color-sunset-orange;
        border-color: $--color-sunset-orange;
      }
      &#{ m('plain', $root) } {
        background-color: mix($--color-sunset-orange, $--color-white, 10%);
      }
      &#{ m('disabled', $root) } {
        &,
        &:hover,
        &:focus {
          color: mix($--color-sunset-orange, $--color-white);
          border-color: mix( $--color-sunset-orange, $--color-white);
        }
        &#{ m('plain', $root) } {
          background-color: mix($--color-sunset-orange, $--color-white, 10%);
        }
      }
    }

    #{ b('icon') } {
      color: $--color-mantis;
    }
  }

  @include m('success') {
    @include button-variant($--button-success-color, $--button-success-fill, $--button-success-border, $root);
  }
  @include m('warning') {
    @include button-variant($--button-warning-color, $--button-warning-fill, $--button-warning-border, $root);
  }
  @include m('danger') {
    @include button-variant($--button-danger-color, $--button-danger-fill, $--button-danger-border, $root);
  }

  @include m('info') {
    @include button-variant($--button-info-color, $--button-info-fill, $--button-info-border, $root);

    &:not(#{ m('disabled', $root) }):focus {
      color: mix($--color-blueberry, $--color-white, 80%);
      background-color: $--color-white;
      border-color: mix($--color-blueberry, $--color-white, 40%);

      #{ b('icon') } {
        color: mix($--color-blueberry, $--color-white, 80%);
      }
    }
    &:not(#{ m('disabled', $root) }):hover {
      background-color: $--color-white;
      border-color: $--color-blueberry;
    }
    &#{ m('disabled', $root) } {
      &,
      &:hover {
        color: mix($--color-blueberry, $--color-white, 50%);
        background-color: transparent;
        border-color: transparent;
      }

      #{ b('icon') } {
        color: mix($--color-blueberry, $--color-white, 50%);
      }
      &#{ m('plain', $root) },
      &#{ m('plain', $root) }:hover {
        color: mix($--color-blueberry, $--color-white, 40%);
        background-color: mix($--color-blueberry, $--color-white, 10%);
        border-color: mix($--color-blueberry, $--color-white, 30%);
      }
    }
    &:not(#{ m('disabled', $root) })#{ m('plain', $root) } {
      color: $--color-blueberry;
      background-color: mix($--color-blueberry, $--color-white, 20%);
      border-color: mix($--color-blueberry, $--color-white, 40%);

      &:hover {
        background-color: $--color-white;
        border-color: $--color-blueberry;
      }
    }

    #{ b('icon') } {
      color: $--button-info-color;
    }
  }
  @include m('extra-large') {
    min-width: 322px;
    height: 48px;
    line-height: 48px;
    @include button-size(0, 27px, 15px, $--button-large-border-radius, $root);
  }
  @include m('large') {
    min-width: 322px;
    height: 40px;
    line-height: 40px;
    @include button-size(0, $--button-large-padding-horizontal, $--button-large-font-size, $--button-large-border-radius, $root);
  }
  @include m('medium') {
    min-width: 226px;
    @include button-size($--button-medium-padding-vertical, $--button-medium-padding-horizontal, $--button-medium-font-size, $--button-medium-border-radius, $root);
  }
  @include m('small') {
    min-width: 192px;
    @include button-size($--button-small-padding-vertical, $--button-small-padding-horizontal, $--button-small-font-size, $--button-small-border-radius, $root);
  }
  @include m('mini') {
    min-width: 166px;
    @include button-size($--button-mini-padding-vertical, $--button-mini-padding-horizontal, $--button-mini-font-size, $--button-mini-border-radius, $root);
  }
  @include m('text') {
    border-color: transparent;
    color: mix($--color-taupe-gray, $--color-white, 50%);
    background: transparent;
    padding-left: 0;
    padding-right: 0;

    &:not(#{ m('disabled', $root) }):hover,
    &:not(#{ m('disabled', $root) }):focus {
      color: mix($--color-taupe-gray, $--color-white, 80%);
      border-color: transparent;
      background-color: transparent;

      #{ b('icon') } {
        color: mix($--color-taupe-gray, $--color-white, 80%);
      }
    }
    &:not(#{ m('disabled', $root) }):active {
      color: $--color-taupe-gray;
      border-color: transparent;
      background-color: transparent;

      #{ b('icon') } {
        color: $--color-taupe-gray;
      }
    }
    &#{ m('disabled', $root) },
    &#{ m('disabled', $root) }:hover,
    &#{ m('disabled', $root) }:focus {
      color: mix($--color-taupe-gray, $--color-white, 40%);
      border-color: transparent;

      #{ b('icon') } {
        color: mix($--color-taupe-gray, $--color-white, 40%);
      }
    }
    &:not(#{ m('disabled', $root) })#{ m('search', $root) } {
      &:focus {
        color: mix($--color-text-regular,$--color-white, 40%);

        #{ b('icon') } {
          color: mix($--color-text-regular,$--color-white, 40%);
        }
      }
      &:hover {
        color: $--color-blueberry;

        #{ b('icon') } {
          color: $--color-blueberry;
        }
      }
      &:active {
        color: $--color-text-regular;

        #{ b('icon') } {
          color: $--color-text-regular;
        }
      }
    }

    #{ b('icon') } {
      color: mix($--color-taupe-gray, $--color-white, 50%);
    }
  }

  @include m('active') {
    color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
  }

  @include m('disabled') {
    &,
    &:hover,
    &:focus {
      color: $--color-primary-light-5;
      cursor: not-allowed;
      background-image: none;
      background-color: $--color-white;
      border-color: $--color-primary-light-5;
    }

    &#{ m('text', $root) } {
      background-color: transparent;
    }
  }

  @include m('loading') {
    position: relative;
    padding-top: 11px;
    padding-bottom: 11px;
    min-width: 192px;
    pointer-events: none;

    &:before {
      pointer-events: none;
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: rgba(255,255,255,.35);
    }
  }

  @include m('round') {
    border-radius: 20px;
    padding: 12px 23px;

    &#{ m('primary', $root) } {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  @include m('circle') {
    padding: 0;
    text-align: center;
    line-height: 38px;
    width: 40px;
    min-width: auto;
    border-radius: $--border-radius-circle;
    #{ b('icon') } {
      height: 18px;
      width: 18px;
      font-size: 24px;
      line-height: 0;
    }
  }

  @include m('bold-border') {
    border-width: 2px;
    line-height: 36px;
  }
}

@include b('button-group') {
  @include utils-clearfix;
  display: inline-block;
  vertical-align: middle;

  & #{ b('button') } {
    float: left;
    position: relative;
    min-width: 150px;
    & + #{ b(button) } {
      margin-left: 0;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      background-color: mix($--color-primary, $--color-black, 80%);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:focus {
        background-color: mix($--color-primary, $--color-black, 90%);
      }
      &:hover {
        background-color: $--color-white;
      }
    }
    &:first-child:last-child {
      border-top-right-radius: $--button-border-radius;
      border-bottom-right-radius: $--button-border-radius;
      border-top-left-radius: $--button-border-radius;
      border-bottom-left-radius: $--button-border-radius;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:not(:last-child) {
      margin-right: -1px;
    }

    &:hover,
    &:focus,
    &:active {
      z-index: 1;
    }

    @include m('active') {
      z-index: 1;
    }
  }

  @each $type in ('primary', 'success', 'warning', 'danger', 'info') {
    #{ m($type, b('button')) } {
      &:first-child {
        border-right-color: rgba($--color-white, 0.5);
      }
      &:last-child {
        border-left-color: rgba($--color-white, 0.5);
      }
      &:not(:first-child):not(:last-child) {
        border-left-color: rgba($--color-white, 0.5);
        border-right-color: rgba($--color-white, 0.5);
      }
    }
  }
}

